/* Default font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #FCFDFA;
}

/* Repsonsive image */
/* .responsive {
  max-width: 100%;
  height: auto;
} */

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  color: #4F534A;
  margin: 0;
  padding: 0;
}
.app-header {
  /* border: 1px solid red; */
  padding: 1%;
  /* background: #41B883; */
}
/* site header */
.siteHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.siteHeader__section {
  display: flex;
  align-items: center;
  }

.siteHeader__item {
  padding: 5px 15px;
  font-size: 20px;
  }

.siteHeader__item + .siteHeader__item {
  margin-left: 5px;
}

.siteHeaderLogo {
  font-size: 20px;
  line-height: 0;
  color: black;
}

.siteHeaderButton {
  cursor: pointer;
  color: #4F534A;
}

.app-footer {
  /* border: 1px solid #ccc; */
  padding: 1%;
  /* background: #41B883; */
    /* height: 50px; */
    /* margin-top: -50px; */
    /* background: rgb(233,162,161);
    background: linear-gradient(0deg, rgba(233,162,161,1) 14%, rgba(252,253,250,1) 79%); */
}
.app-body {
  display: flex;
  flex: 1;
  /* background: #41B883; */
  flex-direction: column;
}
.app-content {
  flex: 1;
  /* border: 1px solid #ccc; */
  /* background: pink; */
  color: #4F534A;
}
.app-nav, .app-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  /* border: 1px solid #ccc; */
  padding: 1%;
  /* background: #35495E; */
   /* background: #4F534A; */
  /* color: #ddd */
}
.app-ads{
  /* background: #4F534A; */

}
div.polaroid {
  margin:25px;
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.app-nav {
  /* put the nav on the left */
  order: -1;
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  height: 600px;
  width: 150px;
  /* background-color: pink; */
  padding: 10px;

}

/*
.sideBar__item {
  cursor: pointer;
  padding: 5px 10px;
  color: black;
  font-size: 12px;
  border-radius: 0 5px 5px 0;
} */
/* Side navigation */
#mySidenav a {
  position: absolute;
  left: 9px;
  transition: 0.3s;
  padding: 30px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: #908379;
  border-radius: 5px 5px 5px 5px;
}

/* #mySidenav a:hover {
  left: 0px;
}
 */

#projects {
  top: 110px;
  background-color: #E9A2A1;
}

#experience {
  top: 210px;
  background-color: #E9A2A1;
}

#leadership {
  top: 310px;
  background-color: #E9A2A1;
}

#resume {
  top: 410px;
  background-color: #FCFDFA;
}

#contact {
  top: 510px;
  background-color: #FCFDFA;
}


@media (min-width: 768px) {
  .app-body {
    flex-direction: row;
    flex: 1;
  }
  .app-content {
    flex: 1;
  }
  .app-nav, .app-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}
.css-3d-text {
   font-size: 69px;
   color: #e9a2a1;
   

   font-family: Arial Black, Gadget, sans-serif;
   text-shadow: 0px 0px 0 rgb(229,158,157),
                0px -1px 0 rgb(225,154,153),
                0px -2px 0 rgb(221,150,149),
                0px -3px 0 rgb(216,145,144),
                0px -4px 0 rgb(212,141,140),
                0px -5px 0 rgb(208,137,136),
                0px -6px 0 rgb(204,133,132),
                0px -7px 0 rgb(200,129,128),
                0px -8px 0 rgb(196,125,124),
                0px -9px 0 rgb(191,120,119),
                0px -10px 0 rgb(187,116,115),
                0px -11px 0 rgb(183,112,111),
                0px -12px 0 rgb(179,108,107),
                0px -13px 0 rgb(175,104,103),
                0px -14px 0 rgb(171,100,99),
                0px -15px 0 rgb(167,96,95),
                0px -16px 0 rgb(162,91,90),
                0px -17px 0 rgb(158,87,86),
                0px -18px 0 rgb(154,83,82),
                0px -19px 0 rgb(150,79,78),
                0px -20px 0 rgb(146,75,74),
                0px -21px 0 rgb(142,71,70),
                0px -22px 0 rgb(137,66,65),
                0px -23px 0 rgb(133,62,61),
                0px -24px 0 rgb(129,58,57),
                0px -25px 0 rgb(125,54,53),
                0px -26px  0 rgb(121,50,49),
                0px -27px 26px rgba(0,0,0,0.28),
                0px -27px 1px rgba(0,0,0,0.5),
                0px 0px 26px rgba(0,0,0,.2);
}
